<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque d'arrières-plans</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
<div id="container">
    <section>
        <a href="../assets/img/bg29.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg29.jpg" alt="Arrière-plan 29"></a>
    </section>
    <section>
        <a href="../assets/img/bg30.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg30.jpg" alt="Arrière-plan 30"></a>
    </section>
    <section>
        <a href="../assets/img/bg31.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg31.jpg" alt="Arrière-plan 31"></a>
    </section>
    <section>
        <a href="../assets/img/bg32.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg32.jpg" alt="Arrière-plan 32"></a>
    </section>
    <section>
        <a href="../assets/img/bg33.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg33.jpg" alt="Arrière-plan 33"></a>
    </section>
    <section>
        <a href="../assets/img/bg34.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg34.jpg" alt="Arrière-plan 34"></a>
    </section>
    <section>
        <a href="../assets/img/bg35.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg35.jpg" alt="Arrière-plan 35"></a>
    </section>
    <section>
        <a href="../assets/img/bg36.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg36.jpg" alt="Arrière-plan 36"></a>
    </section>
    <section>
        <a href="../assets/img/bg37.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg37.jpg" alt="Arrière-plan 37"></a>
    </section>
    <section>
        <a href="../assets/img/bg38.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg38.jpg" alt="Arrière-plan 38"></a>
    </section>
    <section>
        <a href="../assets/img/bg39.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg39.jpg" alt="Arrière-plan 39"></a>
    </section>
    <section>
        <a href="../assets/img/bg40.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg40.jpg" alt="Arrière-plan 40"></a>
    </section>
    <section>
        <a href="../assets/img/bg41.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg41.jpg" alt="Arrière-plan 41"></a>
    </section>
    <section>
        <a href="../assets/img/bg42.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg42.jpg" alt="Arrière-plan 42"></a>
    </section>
    <section>
        <a href="../assets/img/bg43.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg43.jpg" alt="Arrière-plan 43"></a>
    </section>
</div>
<div class="pageChoose">
    <a href="../index.html" id="button1" class="button">1</a>
    <a href="./page-2.html" id="button2" class="button">2</a>
    <a href="./page-3.html" id="button3" class="button active">3</a>
    <a href="./page-4.html" id="button4" class="button">4</a>
    <a href="./page-5.html" id="button5" class="button">5</a>
    <a href="./page-6.html" id="button6" class="button">6</a>
    <a href="./page-7.html" id="button7" class="button">7</a>
    <a href="./page-8.html" id="button8" class="button">8</a>
</div>
<script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
<script src="../assets/js/script.js"></script>
</body>
</html>