<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque d'arrières-plans</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
<div id="container">
    <section>
        <a href="../assets/img/bg59.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg59.jpg" alt="Arrière-plan 59"></a>
    </section>
    <section>
        <a href="../assets/img/bg60.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg60.jpg" alt="Arrière-plan 60"></a>
    </section>
    <section>
        <a href="../assets/img/bg61.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg61.jpg" alt="Arrière-plan 61"></a>
    </section>
    <section>
        <a href="../assets/img/bg62.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg62.jpg" alt="Arrière-plan 62"></a>
    </section>
    <section>
        <a href="../assets/img/bg63.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg63.jpg" alt="Arrière-plan 63"></a>
    </section>
    <section>
        <a href="../assets/img/bg64.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg64.jpg" alt="Arrière-plan 64"></a>
    </section>
    <section>
        <a href="../assets/img/bg65.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg65.jpg" alt="Arrière-plan 65"></a>
    </section>
    <section>
        <a href="../assets/img/bg66.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg66.jpg" alt="Arrière-plan 66"></a>
    </section>
    <section>
        <a href="../assets/img/bg67.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg67.jpg" alt="Arrière-plan 67"></a>
    </section>
    <section>
        <a href="../assets/img/bg68.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg68.jpg" alt="Arrière-plan 68"></a>
    </section>
    <section>
        <a href="../assets/img/bg69.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg69.jpg" alt="Arrière-plan 69"></a>
    </section>
    <section>
        <a href="../assets/img/bg70.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg70.jpg" alt="Arrière-plan 70"></a>
    </section>
    <section>
        <a href="../assets/img/bg71.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg71.jpg" alt="Arrière-plan 71"></a>
    </section>
    <section>
        <a href="../assets/img/bg72.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg72.jpg" alt="Arrière-plan 72"></a>
    </section>
    <section>
        <a href="../assets/img/bg73.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg73.jpg" alt="Arrière-plan 73"></a>
    </section>
</div>
<div class="pageChoose">
    <a href="../index.html" id="button1" class="button">1</a>
    <a href="./page-2.html" id="button2" class="button">2</a>
    <a href="./page-3.html" id="button3" class="button">3</a>
    <a href="./page-4.html" id="button4" class="button">4</a>
    <a href="./page-5.html" id="button5" class="button">5</a>
    <a href="./page-6.html" id="button6" class="button">6</a>
    <a href="./page-7.html" id="button7" class="button active">7</a>
    <a href="./page-8.html" id="button8" class="button">8</a>
</div>
<script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
<script src="../assets/js/script.js"></script>
</body>
</html>