<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque d'arrières-plans</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
<div id="container">
    <section>
        <a href="../assets/img/bg74.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg74.jpg" alt="Arrière-plan 74"></a>
    </section>
    <section>
        <a href="../assets/img/bg75.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg75.jpg" alt="Arrière-plan 75"></a>
    </section>

</div>
<div class="pageChoose">
    <a href="../index.html" id="button1" class="button">1</a>
    <a href="./page-2.html" id="button2" class="button">2</a>
    <a href="./page-3.html" id="button3" class="button">3</a>
    <a href="./page-4.html" id="button4" class="button">4</a>
    <a href="./page-5.html" id="button5" class="button">5</a>
    <a href="./page-6.html" id="button6" class="button">6</a>
    <a href="./page-7.html" id="button7" class="button">7</a>
    <a href="./page-8.html" id="button8" class="button active">8</a>
</div>
<script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
<script src="../assets/js/script.js"></script>
</body>
</html>