<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque d'arrières-plans</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
<div id="container">
    <section>
        <a href="../assets/img/bg44.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg44.jpg" alt="Arrière-plan 44"></a>
    </section>
    <section>
        <a href="../assets/img/bg45.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg45.jpg" alt="Arrière-plan 45"></a>
    </section>
    <section>
        <a href="../assets/img/bg46.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg46.jpg" alt="Arrière-plan 46"></a>
    </section>
    <section>
        <a href="../assets/img/bg47.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg47.jpg" alt="Arrière-plan 47"></a>
    </section>
    <section>
        <a href="../assets/img/bg48.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg48.jpg" alt="Arrière-plan 48"></a>
    </section>
    <section>
        <a href="../assets/img/bg49.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg49.jpg" alt="Arrière-plan 49"></a>
    </section>
    <section>
        <a href="../assets/img/bg50.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg50.jpg" alt="Arrière-plan 50"></a>
    </section>
    <section>
        <a href="../assets/img/bg51.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg51.jpg" alt="Arrière-plan 51"></a>
    </section>
    <section>
        <a href="../assets/img/bg52.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg52.jpg" alt="Arrière-plan 52"></a>
    </section>
    <section>
        <a href="../assets/img/bg53.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg53.jpg" alt="Arrière-plan 53"></a>
    </section>
    <section>
        <a href="../assets/img/bg54.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg54.jpg" alt="Arrière-plan 54"></a>
    </section>
    <section>
        <a href="../assets/img/bg55.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg55.jpg" alt="Arrière-plan 55"></a>
    </section>
    <section>
        <a href="../assets/img/bg56.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg56.jpg" alt="Arrière-plan 56"></a>
    </section>
    <section>
        <a href="../assets/img/bg57.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg57.jpg" alt="Arrière-plan 57"></a>
    </section>
    <section>
        <a href="../assets/img/bg58.jpg" title="Cliquez pour ouvrir l'arrière-plan"><img src="../assets/img/bg58.jpg" alt="Arrière-plan 58"></a>
    </section>
</div>
<div class="pageChoose">
    <a href="../index.html" id="button1" class="button">1</a>
    <a href="./page-2.html" id="button2" class="button">2</a>
    <a href="./page-3.html" id="button3" class="button">3</a>
    <a href="./page-4.html" id="button4" class="button">4</a>
    <a href="./page-5.html" id="button5" class="button">5</a>
    <a href="./page-6.html" id="button6" class="button active">6</a>
    <a href="./page-7.html" id="button7" class="button">7</a>
    <a href="./page-8.html" id="button8" class="button">8</a>
</div>
<script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
<script src="../assets/js/script.js"></script>
</body>
</html>