* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    background: url("../img/bg7.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

h1 {
    background: none;
    color: white;
    width: 100%;
}

p {
    color: white;
    font-size: 1rem;
}

#start {
    margin-top: 3%;
    animation: bounce 1s infinite;
}

#container {
    width: 90%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    width: 25%;
}

img {
    width: 21vw;
    height: 25vh;
    overflow: hidden;
    margin: 1%;
    border-radius: 5px;
    cursor: zoom-in;
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.05);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-15%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.none {
    display: none;
}

@media (max-width: 815.98px) {

    #container{
        padding-top: 5vh;
    }

    section{
        width: 50%;
    }

    img{
        width: 100%;
    }
}

@media (max-width: 575.98px) {

    #container{
        padding-top: 5vh;
    }

    section{
        width: 90%;
    }

    img{
        width: 100%;
    }
}

@media (max-width: 815.98px) {
    #container {
        padding-top: 5vh;
        gap: 45px;
    }
    img {
        width: 100%;
        margin: 0vw;
    }
    section {
        width: 45%;
    }
}

.pageChoose {
    width: 100%;
    /*background-color: #ffffff;*/
    border-radius: 5px;
    padding: 5%;
    text-align: center;
}

.button {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    padding: 0.5% 3%;
    margin: -1%;
    transition: 500ms;
    /*border: 3px solid #ffffff;*/
    font-weight: bold;
}

.button:hover {
    background-color: lightgray;
    color: white;
}

#button1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#button8 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active {
    background-color: darkgray;
    color: white;
}

.active:hover {
    background-color: darkgray;
    color: white;
}

@media (max-width: 992px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        width: 95%;
    }

    .button {
        margin: -1%;
    }
}